#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
	background: linear-gradient(-45deg, #EAECC6, #2BC0E4, #f1f1e7, #0cf3cc);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  color: rgb(62, 86, 92)
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

#todo-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #0cf3cc;
  border-radius: 20px;
  outline: none;
  margin-right: 10px;
  background-color: whitesmoke;
}

.todo-item {
  cursor: pointer;
  padding: 10px;
}

#todo-input:focus {
  border-color: #2bc0e4;
}

button[type="submit"] {
  margin-left: 10px;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  background-color: #0eaad1;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.card {
  list-style-type: none;
  background-color: whitesmoke;
  opacity: 0.6;
  border-radius: 20px;
}

button[type="submit"]:hover, button[type="submit"]:active, button[type="submit"]:focus, button[type="submit"]:focus-visible {
  background-color: #0cf3cc;

}

.card li {
  opacity: 1;
}

.todo-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #0cf3cc;
  border-radius: 20px;
  outline: none;
  margin-right: 10px;
  background-color: whitesmoke;
}

#todo-input:focus {
  border-color: #2bc0e4;
}

.text-danger{
  color: red;
}
.text-success{
  color: green;
  font-weight: bold;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
